<div class="home-wrapper">
  <div class="home-card">
    <h1 class="logo">GlowUp</h1>
    <p class="tagline">the future is now!</p>
    <p class="home-description">
      Our mission is to improve the lives of people in urban centers, making
      cities vibrant hubs for new ideas, commerce, culture, science,
      productivity, and social development.
    </p>

    <div class="home-list">
      <p>Share your ideas with us to:</p>
      <ul>
        <li>Protect and preserve the city's cultural heritage</li>
        <li>Protect and preserve the city's natural heritage</li>
        <li>
          Support positive social and environmental connections between urban
          areas
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
